/Astronaut_in_POV.pov
/GlobalHawkOBJ.3DS
/GlobalHawk_in_POV.pov
/MIR_in_POV.pov
/Mir.3ds
/STS.3ds
/STS_in_POV.pov
/astnt1_1.tga
/astnt1_2.tga
/astronaut1.3ds
/hbltel_1.bmp
/hbltel_2.bmp
/hbltel_3.bmp
/hbltel_4.bmp
/hbltel_w.bmp
/hst.3ds
/isscombined.3ds
/Events_Simple.bsp
*.3ds
