<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleExecutable</key>
	<string>EXECUTABLE</string>
	<key>CFBundleIconFile</key>
	<string>gmat.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GMAT_Beta</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2020.0.0</string>
	<key>CFBundleVersion</key>
	<string>2020.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2002-2020 United States Government as represented by the Administrator of The National Aeronautics and Space Administration. All Other Rights Reserved.  Licensed under the Apache License, Version 2.0.  Please see GMAT documentation for further info.</string>
</dict>
</plist>
