.DS_Store
*.o
*.obj
*.dylib
*.so
*.dll
*.exe
*.app
*.ilk
*.pdb
.project
.cproject
GmatLog.txt
language.settings.xml
GMAT
Debug
Linux*
Release
*.user
/.settings/
/KARI/
CheckRepo.TestEntry
*~
*.swp
*.md
/temp/
