/AttitudeProp_CCSDS_EulerAngle_FrameAndAttitudeDir.aem
/AttitudeProp_CCSDS_EulerAngle_ZeroInterpolationDegree.aem
/AttitudeProp_CCSDS_MixedAttitudeSegment.aem
/AttitudeProp_CCSDS_Quaternion_FrameAndAttitudeDir.aem
/CCSDS_BasicEulerFile_121.AEM
/CCSDS_BasicEulerFile_121_SingleSegment.AEM
/CCSDS_BasicEulerFile_123.AEM
/CCSDS_BasicEulerFile_131.AEM
/CCSDS_BasicEulerFile_132.AEM
/CCSDS_BasicEulerFile_212.AEM
/CCSDS_BasicEulerFile_213.AEM
/CCSDS_BasicEulerFile_231.AEM
/CCSDS_BasicEulerFile_232.AEM
/CCSDS_BasicEulerFile_312.AEM
/CCSDS_BasicEulerFile_313.AEM
/CCSDS_BasicEulerFile_323.AEM
/CCSDS_BasicQuatFile_QuatType_First.aem
/CCSDS_EdgeCornerStress_InterpolateCloseToBeginningAndEnd.aem
/CCSDS_EdgeCornerStress_LargeFile.aem
/CCSDS_EulerFile_DOYFormat.aem
/CCSDS_EulerFile_DOYFormat_EndOfYearLeap.aem
/CCSDS_EulerFile_DOYFormat_EndOfYearLeap_Type1.aem
/CCSDS_JWST_SPADTest.aem
/CCSDS_Validation_DisallowedEulerRotSequence.aem
/CCSDS_Validation_Disallowed_SingularAttitude.aem
/CCSDS_Validation_Disallowed_TimeFormat.aem
/CCSDS_Validation_Disallowed_TimeFormat2.aem
/CCSDS_Validation_Disallowed_TimeOrderReversal.aem
/CCSDS_Validation_Disallowed_UnsupportedAttitudeType.aem
/CCSDS_Validation_Disallowed_UnsupportedDir.aem
/CCSDS_Validation_Disallowed_UnsupportedKeyword.aem
/CCSDS_Validation_Disallowed_UnsupportedKeyword2.aem
/CCSDS_Validation_Disallowed_UnsupportedQuaternionType.aem
/CCSDS_Validation_Disallowed_UnsupportedRefFrame.aem
/CCSDS_Validation_Disallowed_UnsupportedTimeSystem.aem
/CCSDS_Validation_Disallowed_UnsupportedVersion.aem
/CCSDS_Validation_Disallowed_UsableTimeTooEarly.aem
/CCSDS_Validation_Disallowed_UsableTimeTooLate.aem
/CCSDS_Validation_Disallowed_WrongStartTime.aem
/CCSDS_Validation_Disallowed_WrongStopTime.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_1.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_10.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_11.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_12.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_13.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_2.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_3.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_4.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_5.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_6.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_7.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_8.aem
/CCSDS_Validation_ExtraneousWeirdCharacter_9.aem
/CCSDS_Validation_InsufficientDataForLagrangeInterpolator.aem
/CCSDS_Validation_InterpolateAfterLastEpoch.aem
/CCSDS_Validation_InterpolateBeforeFirstEpoch.aem
/CCSDS_Validation_InvalidInterpolationMethodEuler_1.aem
/CCSDS_Validation_InvalidInterpolationMethodEuler_2.aem
/CCSDS_Validation_InvalidInterpolationMethodQuat_1.aem
/CCSDS_Validation_InvalidInterpolationMethodQuat_2.aem
/CCSDS_Validation_Missing_AEMVersion.aem
/CCSDS_Validation_Missing_AttitudeDir.aem
/CCSDS_Validation_Missing_AttitudeType.aem
/CCSDS_Validation_Missing_DataStart.aem
/CCSDS_Validation_Missing_DataStop.aem
/CCSDS_Validation_Missing_EulerAngleData.aem
/CCSDS_Validation_Missing_EulerAngleEpoch.aem
/CCSDS_Validation_Missing_EulerRotSequence.aem
/CCSDS_Validation_Missing_MetaStart.aem
/CCSDS_Validation_Missing_MetaStop.aem
/CCSDS_Validation_Missing_QauternionData.aem
/CCSDS_Validation_Missing_QauternionEpoch.aem
/CCSDS_Validation_Missing_QauternionType.aem
/CCSDS_Validation_Missing_RefFrameA.aem
/CCSDS_Validation_Missing_RefFrameB.aem
/CCSDS_Validation_Missing_StartTime.aem
/CCSDS_Validation_Missing_StopTime.aem
/CCSDS_Validation_Missing_TimeSystem.aem
/CCSDS_Validation_TimeGapInUsableTime.aem
/EulerTest.aem
/Validation_CCSDS_DOYFormat_366ButNotLeapYear.aem
/Comet_Hartley_Grey.3ds
*.aem
