/plugins/
/GMAT.exe
/GMAT.ilk
/GMAT.pdb
/libCInterface.dll
/libCInterface.exp
/libCInterface.ilk
/libCInterface.lib
/libCInterface.pdb
/libGmatBase.dll
/libGmatBase.exp
/libGmatBase.ilk
/libGmatBase.lib
/libGmatBase.pdb
