body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #004080
}

.term {
    font-weight: bold;
}

.informaltable table, .informaltable td {
    border: 1px black solid;
    border-collapse: collapse;
}

div.variablelist table tbody tr td {
    vertical-align: top;
}

div.variablelist table tbody tr td p {
    margin-bottom: 0px;
}

div.caution {
    background-color: #F9D9D8;
    border: #F9B9B8 solid thick;
    margin: 0.5em;
    padding: 0.5em;
}

div.caution h3 {
    margin: 0px;
}

div.informalequation {
    font-style: italic;
}

pre {
    background-color: lightgray;
}