@charset "utf-8";
/* SchoalrOne Abstracts Footer CSS */

@font-face {
  font-family: 'FontAwesome';
  src: url('../lib/bento.ui/css/webfonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../lib/bento.ui/css/webfonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('../lib/bento.ui/css/webfonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('../lib/bento.ui/css/webfonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

form {
  margin-bottom: 0px;
}

/* Make footer sticky on large screens */
html,
body {
  height: 100%;
}

#default_form, #content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Wrapper for page content to push down footer */
#content-wrap {
  padding-bottom: 289px;
}

/* Footer override */
#footer {
  display: block;
  border-top: 1px solid #000;
  background-color: #333; /* For older browsers */
  /*background: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(44, 44, 44) 100%) repeat scroll 0% 0% transparent;*/
  background-attachment: scroll;
  background-image: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(44, 44, 44) 100%);
  background-position: 0% 0%;
  background-repeat: repeat;

  color: #CCC;

  /* added for old centers to emulate Bootstrap styles */
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;

  /* for sticky footer */
  margin-top: -289px;

  text-align: center;

  /* for IE quirks mode */
  padding-left: 20px;
  padding-right: 20px;
}

/* for GXT centers */
#footer-gxt #footer {
  margin-top: 0px;
}

/* container */
#footer .container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;

  text-align: left;
}

#footer .container:before,
#footer .container:after {
  display: table;
  line-height: 0;
  content: "";
}

#footer .container:after {
  clear: both;
}

/* row-fluid */
#footer .row-fluid {
  width: 100%;
}

#footer .row-fluid:after {
  clear: both;
}

#footer .row-fluid:before,
#footer .row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

/* row */
#footer .row {
  margin-left: -20px;
}

/* span11 */
#footer .span11 {
  width: 860px;
}

#footer [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

/* links */
#footer a {
  color: #0083bf;
  text-decoration: none;
}

#footer a:link.footerlink {
  color: #FFF;
  text-decoration: none;
}

#footer a:visited.footerlink {
  color: #FFF;
  text-decoration: none;
}

#footer a:hover.footerlink {
  color: #6699CC;;
  text-decoration: underline;
}

#footer a:active.footerlink {
  color: #6699CC;;
  text-decoration: none;
}

/* images */
#footer img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  padding-left: 20px;
}

/* p */
#footer p {
  margin: 0 0 10px;
  padding-left: 20px;
}

/* icons */
#footer a [class^="icon-"],
#footer a [class*=" icon-"] {
  display: inline-block;
}

#footer [class^="icon-"],
#footer [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

#footer [class^="icon-"]:before,
#footer [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

#footer .icon-twitter:before {
  content: "\f099";
}

#footer .icon-cogs:before {
  content: "\f085";
}

#footer .icon-key:before {
  content: "\f084";
}

#footer .icon-legal:before {
  content: "\f0e3";
}

/* other classes */
#footer .pull-left {
  float: left;
}

#footer .pull-right {
  float: right;
}

/* Landscape phones */
@media (max-width: 480px) {

  /* Tighten up footer */
  #footer-responsive #footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* Unfloat the back to top in footer to prevent odd text wrapping */
  #footer-responsive #footer .footer .pull-right {
    float: none;
  }
}

/* Tablet */
@media (max-width: 767px) {
  #footer-responsive #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 40px;
    padding-right: 20px;
  }

  /* container */
  #footer-responsive #footer .container {
    width: auto;
  }

  /* row-fluid */
  #footer-responsive #footer .row-fluid {
    width: 100%;
  }

  /* row */
  #footer-responsive #footer .row {
    margin-left: 0;
  }

  /* hidden-phone */
  #footer-responsive #footer .hidden-phone {
    display: none !important;
  }

  /* span11 */
  #footer-responsive #footer [class*="span"],
  #footer-responsive #footer .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width: 979px) {
  #footer-responsive #footer {
    margin-top: -191px;
  }

  /*#content-wrap {
    padding-bottom: 191px;
  }*/
}

/* middle screens */
@media (max-width: 979px) and (min-width: 768px) {
  /* container */
  #footer-responsive #footer .container {
    width: 724px;
  }

  /* row-fluid */
  #footer-responsive #footer .row-fluid {
    width: 100%;
  }

  #footer-responsive #footer .row-fluid:before,
  #footer .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }

  #footer-responsive #footer .row-fluid:after {
    clear: both;
  }

  /* row */
  #footer .row {
    margin-left: -20px;
  }

  #footer-responsive #footer .row:before,
  #footer-responsive #footer .row:after {
    display: table;
    line-height: 0;
    content: "";
  }

  #footer-responsive #footer .row:after {
    clear: both;
  }

  /* span11 */
  #footer-responsive #footer .span11 {
    width: 662px;
  }

  #footer-responsive #footer [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }

  /* hidden-tablet */
  #footer-responsive #footer .hidden-tablet {
    display: none !important;
  }
}

/* tablet landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  #footer-responsive #footer {
    margin-top: -191px;
  }
}

/* Big screens */
@media (min-width: 1200px) {
  /* container */
  #footer .container {
    width: 1170px;
  }

  /* row-fluid */
  #footer .row-fluid {
    width: 100%;
  }

  #footer .row-fluid:before,
  #footer .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }

  #footer .row-fluid:after {
    clear: both;
  }

  /* row */
  #footer .row {
    margin-left: -30px;
  }

  #footer .row:before,
  #footer .row:after {
    display: table;
    line-height: 0;
    content: "";
  }

  /* span11 */
  #footer .span11 {
    width: 1070px;
  }

  #footer [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
}
