/* ScholarOne Header Document */
@charset "utf-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('../lib/bento.ui/css/webfonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../lib/bento.ui/css/webfonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('../lib/bento.ui/css/webfonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('../lib/bento.ui/css/webfonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* bootstrap emulating styles */
/* .navbar */
#header .navbar {
  /*margin-bottom: 20px;*/
  overflow: visible;
  color: #777777;
}

#header .navbar .container {
  width: auto;
}

#header .navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -o-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: linear-gradient(to bottom, #f2f2f2, #e8e8e8);
  background-repeat: repeat-x;
  border-color: #e8e8e8 #e8e8e8 #c2c2c2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe8e8e8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

#header .navbar .btn,
#header .navbar .btn-group {
  margin-top: 5px;
}

#header .navbar .btn-navbar .icon-bar {
  line-height: 0px;
  font-size: 0px;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin-top: 3px;
}

#header .navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-family: "KnowledgeLight", Arial, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #818386;
  text-shadow: 0 1px 0 #ffffff;
}

#header .navbar .brand:hover {
  text-decoration: none;
}

#header .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

#header .navbar .nav li { /* #header .navbar .nav > li */
  float: left;
}

#header .navbar .nav li a { /* #header .navbar .nav > li > a*/
  float: none;
  padding: 10px 15px 10px;
  color: #818386;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

#header .navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}

#header .navbar .pull-right li .dropdown-menu, /* #header .navbar .pull-right > li > .dropdown-menu, */
#header .navbar .nav li .dropdown-menu.pull-right { /* #header .navbar .nav > li > .dropdown-menu.pull-right { */
  right: 0;
  left: auto;
}

/* .navbar-static-top */
#header .navbar-static-top {
  position: static;
  margin-bottom: 0;
}

#header .navbar-static-top .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#header .navbar-fixed-top .navbar-inner,
#header .navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}

#header .navbar-fixed-top .navbar-inner, #header .navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

/* .navbar-inverse */
#header .navbar-inverse {
  color: #a0a0a0;
}

#header .navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

#header .navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  border-color: #040404 #040404 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#header .navbar-inverse .brand,
#header .navbar-inverse .nav li a { /* #header .navbar-inverse .nav > li > a { */
  color: #a0a0a0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#header .navbar-inverse .brand:hover,
#header .navbar-inverse .nav li a:hover { /* #header .navbar-inverse .nav > li > a:hover { */
  color: #ffffff;
}

#header .navbar-inverse .nav li a:focus, /* #header .navbar-inverse .nav > li > a:focus, */
#header .navbar-inverse .nav li a:hover { /* #header .navbar-inverse .nav > li > a:hover { */
  color: #ffffff;
  background-color: transparent;
}

/* .navbar-inner */
#header .navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  text-align: center;
}

#header .navbar-inner:before,
#header .navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

#header .navbar-inner:after {
  clear: both;
}

/* .container */
#header .container,
#header .navbar-static-top .container,
#header .navbar-fixed-top .container,
#header .navbar-fixed-bottom .container {
  width: 940px;
}

#header .container {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#header .container:before,
#header .container:after {
  display: table;
  line-height: 0;
  content: "";
}

#header .container:after {
  clear: both;
}

/* button */
#header button,
#header input,
#header select,
#header textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

#header button,
#header input {
  line-height: normal;
}

#header button,
#header input[type="button"],
#header input[type="reset"],
#header input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

#header label,
#header input,
#header button,
#header select,
#header textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

#header input,
#header button,
#header select,
#header textarea {
  font-family: Arial, "Helvetica Neue", sans-serif;
}

/* .btn */
#header .btn,
#header .pager li a, /* #header .pager li > a, */
#header .pager li span { /* #header .pager li > span { */
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #606060;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -o-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: linear-gradient(to bottom, #ffffff, #e7e7e7);
  background-repeat: repeat-x;
  border: 1px solid #d0d0d0;
  border-color: #e7e7e7 #e7e7e7 #c1c1c1;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b7b7b7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe7e7e7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
}

#header .btn,
#header .pager li a, /* #header .pager li > a, */
#header .pager li span { /* #header .pager li > span { */
  border-color: #d0d0d0;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

#header button.btn,
#header input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

#header .btn:first-child,
#header .pager li a:first-child, /* #header .pager li > a:first-child, */
#header .pager li span:first-child { /* #header .pager li > span:first-child { */
  *margin-left: 0;
}

/* .icon */
#header [class^="icon-"],
#header [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

#header [class^="icon-"],
#header [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

#header .btn [class^="icon-"],
#header .nav [class^="icon-"],
#header .btn [class*=" icon-"],
#header .nav [class*=" icon-"] {
  display: inline;
}

#header [class^="icon-"]:before,
#header [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* a */
#header a {
  color: #0083bf;
  text-decoration: none;
}

#header a:hover,
#header a:active {
  outline: 0;
}

#header a:hover {
  color: #025a82;
  text-decoration: underline;
}

/* .collapse */
#header .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

/* .nav-collapse */
#header .nav-collapse.collapse {
  height: auto;
  overflow: visible;
}

/* ul */
#header ul,
#header ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

/* .nav */
#header .nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

#header .nav li a { /* #header .nav > li > a { */
  display: block;
}

#header .nav li a:hover { /* #header .nav > li > a:hover { */
  text-decoration: none;
  background-color: #eeeeee;
}

/* li */
#header li {
  line-height: 20px;
  text-align: left;
}

/* .pull-right */
#header .pull-right {
  float: right;
}

/* .dropdown */
#header .dropup,
#header .dropdown {
  position: relative;
}

/* img */
#header img {
  width: auto\9;
  height: auto;
  max-width: none;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* .dropdown-menu */
#header .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

#header .dropdown-menu a {
  text-align: left;
}

#header .navbar .nav .dropdown-menu li {
  float: none;
}

#header .navbar .nav .dropdown-menu li a { /* #header .dropdown-menu li > a { */
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #606060;
  white-space: nowrap;
  text-shadow: none;
}

#header-responsive #header .navbar .nav .dropdown.open .dropdown-menu li.active a,
#header-non-responsive #header .navbar .nav .dropdown.open .dropdown-menu li.active a {
  color: #fff;
  background-color: #FF8000;
}

#header-responsive #header .navbar-inverse .nav .dropdown .dropdown-menu a,
#header-non-responsive #header .navbar-inverse .nav .dropdown .dropdown-menu a {
  background-color: #fff;
}

/* .open */
#header .open {
  *z-index: 1000;
}

#header-responsive #header .dropdown.open .dropdown-menu,
#header-non-responsive #header .dropdown.open .dropdown-menu { /* #header .open > .dropdown-menu { */
  display: block;
}

/* .visible-tablet */
#header .visible-tablet {
  display: none !important;
}

/* .visible-phone */
#header .visible-phone {
  display: none !important;
}

#header-responsive #header .dropdown.open .dropdown-menu li a:hover,
#header-non-responsive #header .dropdown.open .dropdown-menu li a:hover, /* #header .dropdown-menu li > a:hover, */
#header-responsive #header .dropdown.open .dropdown-menu li a:focus,
#header-non-responsive #header .dropdown.open .dropdown-menu li a:focus, /* #header .dropdown-menu li > a:focus, */
#header-responsive #header .dropdown.open .dropdown-submenu:hover a,
#header-non-responsive #header .dropdown.open .dropdown-submenu:hover a { /* #header .dropdown-submenu:hover > a { */
  color: #FFF;
  background-color: #FF8000;
  background-image: none;
}

/* very large screens */
@media (min-width: 1200px) {
  /* .container */
  #header .container,
  #header .navbar-static-top .container,
  #header .navbar-fixed-top .container,
  #header .navbar-fixed-bottom .container {
    width: 1170px;
  }

  /* .nav-collapse */
  #header .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

@media (min-width: 980px) {
  /* .nav-collapse */
  #header-responsive #header .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  /* .container */
  #header-responsive #header .container,
  #header-responsive #header .navbar-static-top .container,
  #header-responsive #header .navbar-fixed-top .container,
  #header-responsive #header .navbar-fixed-bottom .container {
    width: 724px;
  }

  /* .hidden-tablet */
  #header-responsive #header .hidden-tablet {
    display: none !important;
  }

  /* visible-tablet */
  #header-responsive #header .visible-tablet {
    display: inherit !important;
  }
}

/* large screens */
@media (max-width: 979px) {
  /* .navbar */
  #header-responsive #header .navbar .container {
    width: auto;
    padding: 0;
  }

  #header-responsive #header .navbar .brand {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 0 -5px;
  }

  #header-responsive #header .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }

  #header-responsive #header .navbar .btn-navbar {
    display: block;
  }

  /* .nav-collapse */
  #header-responsive #header .nav-collapse {
    clear: both;
  }

  #header-responsive #header .nav-collapse,
  #header-responsive #header .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }

  #header-responsive #header .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }

  #header-responsive #header .nav-collapse .nav li { /* #header .nav-collapse .nav > li { */
    float: none;
  }

  #header-responsive #header .nav-collapse .nav li a { /* #header .nav-collapse .nav > li > a { */
    margin-bottom: 2px;
  }

  #header-responsive #header .nav-collapse .nav li a:hover, /* #header .nav-collapse .nav > li > a:hover, */
  #header-responsive #header .nav-collapse .nav li a:focus, /* #header .nav-collapse .nav > li > a:focus, */
  #header-responsive #header .nav-collapse .dropdown-menu a:hover,
  #header-responsive #header .nav-collapse .dropdown-menu a:focus {
    background-color: #f5f5f5;
  }

  #header-responsive #header .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    display: none;
    float: none;
    max-width: none;
    padding: 0;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  #header-responsive #header .nav-collapse .dropdown-menu:before,
  #header-responsive #header .nav-collapse .dropdown-menu:after {
    display: none;
  }

  #header-responsive #header .nav-collapse .nav li a, /* #header .nav-collapse .nav > li > a, */
  #header-responsive #header .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #818386;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  #header-responsive #header .nav-collapse .dropdown-menu:before,
  #header-responsive #header .nav-collapse .dropdown-menu:after {
    display: none;
  }

  #header-responsive #header .nav-collapse .nav li .dropdown-menu:before, /* #header .nav-collapse .nav > li > .dropdown-menu:before, */
  #header-responsive #header .nav-collapse .nav li .dropdown-menu:after { /* #header .nav-collapse .nav > li > .dropdown-menu:after { */
    display: none;
  }

  /* .navbar-inverse */
  #header-responsive #header .navbar-inverse .nav-collapse .nav li a, /* #header .navbar-inverse .nav-collapse .nav > li > a, */
  #header-responsive #header .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #a0a0a0;
  }

  #header-responsive #header .navbar-inverse .nav-collapse .nav li a:hover, /* #header .navbar-inverse .nav-collapse .nav > li > a:hover, */
  #header-responsive #header .navbar-inverse .nav-collapse .nav li a:focus, /* #header .navbar-inverse .nav-collapse .nav > li > a:focus, */
  #header-responsive #header .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  #header-responsive #header .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111;
  }

  /* .container */
  #header-responsive #header .container {
    width: auto;
  }

  #header-responsive #header .navbar-inverse .nav .dropdown .dropdown-menu a {
    background-color: #333;
  }

  #header-responsive #header .navbar .nav .dropdown.open .dropdown-menu li.active a {
    color: #a0a0a0;
  }

  #header-responsive #header .dropdown.open .dropdown-menu li a:hover,
  #header-responsive #header .dropdown.open .dropdown-menu li a:focus,
  #header-responsive #header .dropdown.open .dropdown-submenu:hover a { /* #header .dropdown-submenu:hover > a { */
    color: #A0A0A0;
    background-image: none;
  }
}

/* main styles */
#header {
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

#header .navbar-responsive-collapse {
  z-index: 1000;
}

/*Style the middle banner area of header */
#header .logoBar {
  position: relative;
  height: auto;
  background: #505050;
  text-align: center; /* makes society banner centered*/
  -moz-box-shadow: 0px 3px 5px #333;
  -webkit-box-shadow: 0px 3px 5px #333;
  box-shadow: 0px 3px 5px #333;
  z-index: 1;
}

/*Add line to left of nav-links */
#header .nav-link {
  border-left: 1px solid #666;
}

#header .dropdown-menu .nav-link {
  border-left: none;
}

/*Keeps the utility nav short */
#header .utilitynav .navbar-inner {
  min-height: 20px;
}

#header .utilitynav .navbar-inner .nav li a { /* #header .utilitynav .navbar-inner .nav > li > a { */
  padding: 5px 10px;
}

#header .navbar .nav li a { /* #header .navbar .nav > li > a { */
  color: #FFF;
}

#header .brand {
  color: #FFF !important;
}

#header .navbar-inverse .nav li a:focus, /* #header .navbar-inverse .nav > li > a:focus, */
#header .navbar-inverse .nav li a:hover, /* #header .navbar-inverse .nav > li > a:hover, */
#header .navbar-inverse .nav li a:active { /* #header .navbar-inverse .nav > li > a:active { */
  color: #FFF;
  background-color: #666;
}

#header .navbar-inverse .nav .active a, /* #header .navbar-inverse .nav .active > a, */
#header .navbar-inverse .nav .active a:hover, /* #header .navbar-inverse .nav .active > a:hover, */
#header .navbar-inverse .nav .active a:focus { /* #header .navbar-inverse .nav .active > a:focus { */
  background-color: #FF8000;
}

#header .navbar-inverse .nav li.dropdown.active .dropdown-toggle { /* #header .navbar-inverse .nav li.dropdown.active > .dropdown-toggle { */
  background-color: #FF8000;
}

#header .navbar-inverse .nav li.dropdown.active.open .dropdown-toggle {
  color: #FFF;
  background-color: #111;
}

#header .navbar-inverse .navbar-inner {
  background-color: #333;
  background-image: linear-gradient(to bottom, #333 70%, #222 100%);
  border-color: #666;
}

#header .toplvlnav {
  background: #505050;
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

#header .dropdown-menu .active a, /* #header .dropdown-menu .active > a, */
#header .dropdown-menu .active a:hover { /* #header .dropdown-menu .active > a:hover { */
  background-image: none;
}

#header .nav .dropdown-menu {
  max-height: 350px;
}

#header .navbar .btn-navbar {
  float: left;
}

#header .popupheader {
  position: relative;
  height: auto;
  background: #505050;
  border-radius: 0px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF;
}

#header .popupheader h2 {
  margin: 10px 0;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
  font-family: "KnowledgeLight", Arial, "Helvetica Neue", sans-serif;
  line-height: 40px;
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* bootstrap emulation */
  /* .nav-fixed-top */
  #header-responsive #header .navbar-fixed-top,
  #header-responsive #header .navbar-fixed-bottom,
  #header-responsive #header .navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
  }

  /*.visible-phone */
  #header-responsive #header .visible-phone {
    display: inherit !important;
  }

  #header-responsive #header {
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    left: -20px;
    position: relative;
  }

  /* main styles */
  #header-responsive #header .nav-link {
    border-left: none;
  }

  #header-responsive #header .utilitynav .navbar-inner {
    min-height: 40px !important; /*Gives space back to nav in mobile */
  }

  #header-responsive #header .utilitynav .navbar-inner .nav li a { /* #header .utilitynav .navbar-inner .nav > li > a { */
    padding: 10px 10px;
  }

  #header-responsive #header .navbar-inverse .nav-collapse .nav li a, /* #header .navbar-inverse .nav-collapse .nav > li > a, */
  #header-responsive #header .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #FFF;
    padding: 10px 10px;
  }

  #header-responsive #header .nav-collapse .nav li a, /* #header .nav-collapse .nav > li > a, */
  #header-responsive #header .nav-collapse .dropdown-menu a {
    border-radius: 0px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* .nav-collapse */
  #header-responsive #header .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }

  #header-responsive #header .nav-link {
    border-left: none;
  }

  #header-responsive #header .utilitynav .navbar-inner {
    min-height: 40px !important; /*Gives space back to nav in mobile */
  }

  #header-responsive #header .utilitynav .navbar-inner .nav li a { /* #header .utilitynav .navbar-inner .nav > li > a { */
    padding: 10px 10px;
  }

  #header-responsive #header .navbar-inverse .nav-collapse .nav li a, /* #header .navbar-inverse .nav-collapse .nav > li > a, */
  #header-responsive #header .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #FFF;
    padding: 10px 10px;
  }

  #header-responsive #header .nav-collapse .nav li a, /* #header .nav-collapse .nav > li > a, */
  #header-responsive #header .nav-collapse .dropdown-menu a {
    border-radius: 0px;
  }
}
