@charset "utf-8";
/* ScholarOne CSS override Document by Greg Kloiber */

textarea.cq-textarea {
  display: block;
  height:120px;
  width: 100%;
  resize: none;
}

/* customizes file upload */
/* s */
input.hidden-input {
  filter:alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  cursor:pointer;
  font-size:132px; /* to get large button */
  height:30px;
  position:absolute;
  right:0;
}
div.fake-button
{
  height:30px;
  position:relative;
  overflow:hidden;
  display:inline-block;
  *display:inline;
}
/* e */

.incomplete-box
{
  cursor: pointer;
}

html {
	overflow-y: scroll; /* Adds scrollbar to right side so page does not jump */
}
body {
	background-color: #FFF; /* Edited by GK for white background */
	padding-top: 0px; /* Edit by GK from 40px to 0px. Found in docs.css */
}
/* Legacy header stuff */
TD.topmenu {
	background: url(../../images/layout/ac_topmenu_left.gif);
	background-repeat: repeat-x;
}
.navbar .brand {
	padding: 5px 5px 0px; /*Adds hidden Society Name to mobile nav. Was 10px 20px 10px */
	margin: 0px
}
h3 {
	font-weight: bold;
	line-height: 30px; /* Edit from 40px to keep wrapped H3 in disclosures closer */
	display: inline-block;
}
h4 {
	display: inline-block;
}
.affix { /*Keeps side nav from jumping */
    position: fixed; 
    top: 20px; 
}
hr {
	border-top: 3px solid #c8c8c8;
}
.nobr {
	white-space: nowrap;
}
/* Combobox overides */
.combobtn{
	padding:4px; /*Was 12px. Makes combobox btn less wide */
}
input,
textarea,
.uneditable-input {
  width: 200px; /*Was 206px found in bootstrap.css */
}

.dropdown-menu {
    max-height: 300px;
    max-width: 300px; /* SF-16565. Was 200px. 'View Proposal & Manage Linked Abstracts' link doesn't fits */
    overflow-y: auto;
    overflow-x: auto;
}

.scroller {
	height: 150px;
	border-top: 5px solid #eeeeee;
	border-bottom: 5px solid #eeeeee;
}
.popover-title {
	display: inherit; /*Keeps the title in popovers from being cut short */
	word-wrap: break-word;
}
.charcount {
	margin-top: 35px;
}
select {
  display: inline-block;
  padding: 4px 3px 5px 5px;
  outline: none;
  color: #74646e;
  border: 1px solid #C8BFC4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background-color: #fff;        
}
.popover-content {
	font-size: 14px; /* All content is to be 14px or greater */
	white-space: normal;
	word-wrap: break-word;
}
.table thead > tr > th, .table thead > tr > td {
	font-size: 14px; /* All content is to be 14px or greater */
}
/* SIDENAV OVERRIDES */

.well {
	font-size: 14px;/* All content is to be 14px or greater */
}
.bs-docs-sidenav {
	margin: 0 0 0;
	margin-bottom:10px;
}
.nav-list {
	margin-top: 5px;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
	font-weight: bold; /*! Emphasizes current page */
	background-color:#FFF; /*! rgb(255,128,0) Matches brand colors */
	color:rgb(255,128,0); /*Brand colors */
	text-shadow: none;
}
.nav-header {
	font-size: 14px; /* Increased from 11 to 14px */
	color:#FFF;
	background-color: rgb(255,128,0);
	text-transform: none; /* Changed from uppercase to none */
	text-shadow:none !important;
}
.nav-list > li > a, .nav-list .nav-header {/* Adds some padding to bottom and top of sidenav */
	margin-bottom: 10px;
	margin-top: 10px;
}
.nav li + .nav-header {
	margin-top: 0px; /* Changed from 9px to 0 */
}
.nav-submenu {
	padding-left: 15px;
}

.underline {
  text-decoration: underline;
}

.invitation-table img {
  max-width:none;
}

/* RESPONSIVE TABLE */


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 979px) {
/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
	display: block;
}
/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
tr {
	border: 1px solid #ccc;
}
.table td {
	border-bottom: none;
}
td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: none; /* Changed form 1px solid #eee */
	position: relative;
	padding-left: 30% !important; /* Changed from 50 to 30% Added important */
}
td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 25%;
	padding-right: 10px;
	white-space: nowrap;
}
/* Label the data */
td:before {
	content: attr(data-label);
}

/* Fix modal popups so we can scroll them on iPhone / Android */
.modal { position: absolute; }

.special-char-dialog table, .table-builder-dialog table {
  display: table;
}

.special-char-dialog tbody, .table-builder-dialog tbody {
  display: table-row-group;
}

.special-char-dialog tr, .table-builder-dialog tr {
  display: table-row;
}

.special-char-dialog td, .table-builder-dialog td {
  display: table-cell;
}

.special-char-dialog td, .table-builder-dialog td {
  padding-left: 0px !important;
}

.table-builder-dialog td.cke_dialog_contents_body {
  padding-left: 10px !important;
}
}
